
@font-face{
  font-family: "Poppins-Medium";
  src : url("../libs/fonts/Poppins-Medium.ttf");
}
@font-face{
  font-family: "Poppins-Regular";
  src : url("../libs/fonts/Poppins-Regular.ttf");
}
@font-face{
  font-family: "Poppins-SemiBold";
  src : url("../libs/fonts/Poppins-SemiBold.ttf");
}
